// Підключаю шрифти
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
// Імпортую палітру кольорів
@import "./blocks/layoult-palette";

// імпортую  обнуляйющий стиль
@import "./blocks/nullstyle";

// Іпортую  HEADER STYLE
@import "./blocks/header";

// Імпортую FOTTER
@import "./blocks/footer";

body {
  font-family: Open Sans;
  color: #061b28;
}

[class*="__container"] {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.main__container {
  display: flex;
  justify-content: center;
  position: relative;
}

.main__title {
  color: $ThisisVelocity;
  font-size: 59px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 4px;

  text-transform: uppercase;

  width: 100%;

  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); /* Центрувати по горизонталі та вертикалі */

  @media (max-width: 955px) {
    font-size: 49px;
  }

  @media (max-width: 600px) {
    font-size: 39px;
  }

  @media (max-width: 450px) {
    font-size: 29px;
  }
}

.registration-form {
  display: none;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  &__label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  &__input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: #007bff;
      outline: none;
    }
  }

  &__button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
      background: #0056b3;
    }
  }
}

/* Адаптивність */
@media (max-width: 480px) {
  .registration-form {
    width: 90%; /* Робимо ширину більшою на маленьких екранах */
    padding: 15px;
    margin-top: 30px;
  }

  .registration-form__input,
  .registration-form__button {
    font-size: 14px; /* Трохи зменшуємо шрифти на вузьких екранах */
  }
}

.main__block_batton {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;

  .batton_item {
    background-color: $singAp;
    color: $ThisisVelocity;
    font-size: 16px;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;

    padding: 5px;

    margin-right: 30px;

    border-top: 1px solid #fff;
    max-height: 43px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-radius: 4px;

    @media (max-width: 600px) {
      font-size: 10px;
    }

    @media (max-width: 400px) {
      font-size: 7px;
    }

    // ховер
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  .batton_item:hover {
    transform: scale(1.1); /* збільшуємо картинку на 10% */
  }

  .batton_item2 {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    max-width: 183px;
    border-top: 1px solid #fff;
    max-height: 43px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-radius: 4px;

    color: #fff;
    font-size: 15px;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;

    padding: 5px;

    background-color: transparent;

    @media (max-width: 600px) {
      font-size: 10px;
    }

    @media (max-width: 400px) {
      font-size: 7px;
    }

    a {
      color: #fff;
      font-size: 15px;
      font-style: normal;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 2px;
      text-transform: uppercase;

      padding: 5px;

      background-color: transparent;
    }

    // ховер
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  .batton_item2:hover {
    transform: scale(1.1); /* збільшуємо картинку на 10% */
  }

  @media (max-width: 600px) {
    top: 60%;
  }

  @media (max-width: 400px) {
    top: 65%;
  }
}

.header_img {
  @media (max-width: 1450px) {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

.what-we-do {
  margin-bottom: 80px;

  &__blocs {
    // стилі для контейнера з блоками

    margin-top: 80px;

    @media (max-width: 750px) {
      margin: 40px 0px;
    }
  }

  &__text {
    color: $what-we-do-text;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 5px;
    text-transform: uppercase;

    @media (max-width: 550px) {
      font-size: 20px;
    }
  }

  &__text2 {
    color: $what-we-do-text2;
    font-size: 17px;
    margin-top: 17px;
    text-align: center;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 0;
    letter-spacing: 3px;
    text-transform: uppercase;

    @media (max-width: 550px) {
      font-size: 13px;
    }
  }

  &__bloc {
    // базові стилі для кожного блоку
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 60px;

    max-width: 300px;
    max-height: 290px;
    box-sizing: border-box;

    border: 1px solid #69b9ff;
    padding: 10px;
    border-radius: 5px;

    @media (max-width: 750px) {
      margin-top: 30px;
    }
  }

  &__title {
    color: $what-we-do-text;
    font-size: 20px;
    margin-top: 19px;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 7px;
    text-transform: uppercase;
  }

  &__description {
    // стилі для опису блоку
    margin-top: 14px;

    color: $lorem;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 0;
    letter-spacing: 0;
    text-transform: none;
  }

  &__group {
    display: flex;
    gap: 20px;

    @media (max-width: 950px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.services {
  background-color: $background;
  height: auto;

  &__img {
    @media (max-width: 500px) {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }

  &__img2 {
    @media (max-width: 500px) {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }

  &__text {
    color: $colorTexth1;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 5px;
    text-transform: uppercase;

    padding-top: 80px;
  }

  &__text2 {
    color: $colorTexth2;
    font-size: 17px;
    margin-top: 17px;
    text-align: center;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 60px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  &__group {
    display: flex;
    gap: 20px;

    @media (max-width: 950px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__bloc--1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__bloc--2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 750px) {
      margin: 20px 0px;
    }
  }

  &__title {
    color: $colorTexth1;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 7px;
    text-transform: uppercase;
  }

  &__description {
    // стилі для опису блоку
    margin-top: 23px;

    padding-bottom: 17px;

    color: $colorTexth2;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 0;
    letter-spacing: 0;
    text-transform: none;
  }

  .services__batton_item1 {
    width: 100%;
    height: auto;
    display: block;
    max-width: 183px;
    border-top: 1px solid #fff;
    max-height: 43px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-radius: 4px;

    color: #fff;
    font-size: 15px;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;

    padding: 5px;

    background-color: transparent;
    margin-bottom: 80px;

    @media (max-width: 550px) {
      margin-bottom: 30px;
    }
    // ховер
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  .services__batton_item1:hover {
    transform: scale(1.1); /* збільшуємо картинку на 10% */
  }

  .services__batton_item2 {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    max-width: 183px;
    border-top: 1px solid #fff;
    max-height: 43px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-radius: 4px;

    color: #fff;
    font-size: 15px;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;

    padding: 5px;

    background-color: transparent;
    margin-bottom: 80px;

    // ховер
    transition: transform 0.3s ease;
    cursor: pointer;

    @media (max-width: 550px) {
      margin-bottom: 30px;
    }
  }
  .services__batton_item2:hover {
    transform: scale(1.1); /* збільшуємо картинку на 10% */
  }
}

.tabSection {
  &__text {
    color: $colorTextTab1;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 5px;
    text-transform: uppercase;

    padding-top: 80px;

    @media (max-width: 700px) {
      padding-top: 40px;
    }
  }

  &__imgItem {
    @media (max-width: 1150px) {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }

  &__text2 {
    color: $colorTextTab2;
    font-size: 17px;
    margin-top: 17px;
    text-align: center;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 60px;
    letter-spacing: 3px;
    text-transform: uppercase;

    @media (max-width: 700px) {
      margin-bottom: 30px;
    }
  }

  &__buttons {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    margin-bottom: 50px;

    @media (max-width: 700px) {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-bottom: 30px;
    }
  }

  &__button--left {
    color: $colorTextBatton;
    background-color: $backgroundColorTextNoActive;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;

    width: 100%;
    max-width: 196px;
    border-radius: 4px 4px 4px 4px;

    @media (max-width: 700px) {
      margin-bottom: 20px;
    }

    transition: transform 0.3s ease;
    cursor: pointer;
  }
  &__button--left:hover {
    transform: scale(1.1); /* збільшуємо картинку на 10% */
  }

  &__button--center {
    color: $colorTextBatton;
    background-color: $backgroundColorTextNoActive;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;

    width: 100%;
    max-width: 196px;
    border-radius: 4px 4px 4px 4px;

    @media (max-width: 700px) {
      margin-bottom: 20px;
    }
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  &__button--center:hover {
    transform: scale(1.1); /* збільшуємо картинку на 10% */
  }

  &__button--right {
    color: $colorTextBatton;
    background-color: $backgroundColorTextNoActive;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;

    width: 100%;
    max-width: 196px;
    border-radius: 4px 4px 4px 4px;

    @media (max-width: 700px) {
      margin-bottom: 20px;
    }

    transition: transform 0.3s ease;
    cursor: pointer;
  }
  &__button--right:hover {
    transform: scale(1.1); /* збільшуємо картинку на 10% */
  }
  &__button--active {
    color: $colorTextBatton;
    background-color: $backgroundColorText;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;

    width: 100%;
    max-width: 196px;
    border-radius: 4px 4px 4px 4px;

    transform: scale(1.1);
    background-color: #0056b3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: #ffffff;

    &:active {
      transform: scale(1.05); // Зменшення під час натискання
    }

    &--active {
      transform: scale(5.1); // Постійне збільшення для активної кнопки
      background-color: #0056b3; // Опціонально: змінюємо колір для візуалізації активного стану
    }

    @media (max-width: 700px) {
      margin-bottom: 20px;
    }
  }

  &__title {
    color: $colorTextTab1;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 5px;
    text-transform: uppercase;

    padding-top: 80px;
  }

  &__description {
    color: $colorTextTab2;
    font-size: 13px;
    margin-top: 19px;
    text-align: center;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 60px;
    letter-spacing: 3px;

    align-items: center;
  }
}

.socialSection {
  &__group {
    display: flex;
    justify-content: space-around;
    padding-top: 80px;

    @media (max-width: 800px) {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-bottom: 30px;
    }
  }

  &__text {
    font-size: 18px;
    margin-top: 0;
    text-align: left;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 0;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  &__text2 {
    color: #6a859c;
    font-size: 14px;
    font-style: normal;
    margin-top: 0;
    text-align: left;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 0;
    letter-spacing: 0;
    text-transform: none;

    width: 100%;
    max-width: 299px;
    margin-top: 25px;
    min-height: auto;
    text-align: left;
    margin-bottom: 0;
  }
  &__title {
    font-size: 18px;
    margin-top: 0;
    text-align: left;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  &__left {
    display: flex;
    flex-direction: column; /* Розміщує елементи вертикально один під одним */
    align-items: center; /* Центрує елементи по горизонталі */
    text-align: center; /* Центрує текст всередині елементів */

    @media (max-width: 800px) {
      margin-bottom: 30px;
    }
  }

  &__centr {
    @media (max-width: 800px) {
      margin-bottom: 30px;
    }
  }

  &__link {
    color: #668cad;
    font-size: 13px;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-transform: none;

    border-bottom: 2px solid $underLine; /* Товщина та колір лінії */
    padding-bottom: 12px; /* Простір між текстом і лінією */
    padding-top: 3px;
  }

  &__TitleInfo {
    font-size: 18px;
    margin-top: 0;
    text-align: left;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  &__info {
    color: #668cad;
    font-size: 13px;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-transform: none;

    border-bottom: 2px solid $underLine; /* Товщина та колір лінії */
    padding-bottom: 12px; /* Простір між текстом і лінією */
    padding-top: 3px;

    display: flex;
    align-items: center;

    img {
      margin-right: 10px;
    }
  }
}
