//*color text header
$veloCity: #0082f3;
$home: #69b9ff;
$contact: #676770;

//*color main__page__section what-we-do

$ThisisVelocity: #ffffff;
$singAp: #69b9ff;
$learnMore: #ffffff;

//*what-we-do color

$what-we-do-text: #676770;
$what-we-do-text2: #8e8e9c;
$lorem: #6a859c;

//* services color

$colorTexth1: #ffffff;
$colorTexth2: #e8e8e8;
$background: #192024;

//*Tab Section color

$colorTextTab1: #676770;
$colorTextTab2: #8e8e9c;
$colorBattonActive: #2e80b6;
$colorBatton: #92a0ad;
$colorTextBatton: #ffffff;

$backgroundColorText: #2e80b6;
$backgroundColorTextNoActive: #92a0ad;

//*color social

$h1: #676770;
$p: #668cad;
$social: #000000;
$underLine: #d5d5e0;

//* footer color

$footerBackground: #383838;
$footerText: #9e9e9e;
